body{
	margin: 0;
	padding: 0;
}  

#site{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
}

#results{
	overflow: scroll;
}

.flex-center{
	display: flex;
	align-content: center;
	align-items: center;
}


/* MAPBOX API */

#map{
	position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* news api */

.flex{
	display: flex;
	align-items: center;
	justify-content: flex-start;
  }
  
  a{
	text-decoration: none;
	color:#000000;
  }
  
  .latest-news{
	border:1px solid #dddddd;
	padding:10px;
	margin:10px;
	box-shadow: 2px 2px 5px #cccccc;
  }
  
  .thumbnail{
	flex-basis:20%;
	max-width: 20%;
	height:auto;
	margin-right: 10px;
  }
  
  .text{
	flex-basis: 80%;
  }
  

/* first page */

.box1{
	display:flex;
	align-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url(../img/caravan-1.gif);
	background-size: cover;
	display: table;
	background-attachment: fixed;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}
.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

/* hero-home
=================== */

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}
}

/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

.button-accent {
	color: #00ff6c;
	border-color: #00ff6c;
}











.box2{
	height: 100vh;
	width: 100%;
	background-image: url(../img/land-scape-caravan1.jpg);
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
.box3{
	height: 100vh;
	width: 100%;
	background-image: url(../img/land-scape-caravan2.jpg);
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
.box4{
	height: 100vh;
	width: 100%;
	background-image: url(../img/land-scape-caravan3.jpg);
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
.box5{
	height: 100vh;
	width: 100%;
	background-image: url(../img/land-scape-caravan4.jpg);
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
.box6{
	height: 100vh;
	width: 100%;
	background-image: url(../img/caravan-4.gif);
	background-size: cover;
	display: table;
	background-attachment: fixed;
}