body{
	margin: 0;
	padding: 0;
}  


#results{
	width: 100%;
	height: 700px;
	overflow: scroll;
}


/* news api */

.flex{
	display: flex;
	align-items: center;
	justify-content: flex-start;
  }
  
  a{
	text-decoration: none;
	color:#000000;
  }
  
  .latest-news{
	border:1px solid #dddddd;
	padding:10px;
	margin:10px;
	box-shadow: 2px 2px 5px #cccccc;
  }
  
  .thumbnail{
	flex-basis:20%;
	max-width: 20%;
	height:auto;
	margin-right: 10px;
  }
  
  .text{
	flex-basis: 80%;
  }
  

/* first page */

#box1{
	height: 100vh;
	width: 100%;
	background-image: url(../img/caravan-3.gif);
	background-size: cover;
	display: table;
	background-attachment: fixed;
	color: #FFF;
}

.title {
	padding-top: 20%;
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}


@media (min-width:60rem) {

	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}
}


/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}


.button-accent {
	color: #00ff6c;
	border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
	background: #00ff6c;
	color: #232323;
}


/* BOX2 ------------------*/

#box2{
	display: flex !important;
	flex-direction: row;
	height: 100vh;
	width: 100%;
	background-color:black; 
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#side1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.pic2{
	width: 100%;
    max-width: 600px;
    height: auto;
}

.side2{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-left: 2%;
    padding-right: 2%;

	
}

.in-side2{
	background-color: #1D6332;
	color: white;
	height: 80%;
	padding-right: 2%;
	padding-left: 2%;
	font-size: 2em
}

.in-side2 p{
	font-size: 28px;
}

.kid{
	width: 100%;
    max-width: 250px;
    height: auto;
}

.family{
	width: 100%;
    max-width: 250px;
    height: auto;
}

#draggable{
	float: right;
    color: white;
	padding-right: 13%;
	text-align: center;
	
	
}

#droppable{
	width: 550px;
    height: 300px;
    background-color: #1D6332;
	float: left;
	margin-left: 15%;

}


/* MAPBOX API */

#map{
	width: 43.75em;
	height: 31.25em;
}

/* BOX3 --------------- */

#box3{
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color:black; 
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

.b3side1, .b3side2, .b3side3{
	width: 100%;
}

.b3side1{
	padding-bottom: 1%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.b3side2{
	width: 100%;
	height: 1%;
	background-color: #1D6332;

	
}

.in-b3side2{
	padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    background-color: #1D6332;
    width: 92%;
}

.b3side3{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    align-items: center;
    height: 50%;
	padding-left: 4%;
}

.text-b3side3{
	width: 35%;
    background-color: #1D6332;
    padding: 2%;
    color: white;
    height: 50%;

}

#player{
	display: flex;
	align-self: flex-start;
	padding-top: 2%;
	padding-left: 2%;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-end{
	display: flex;
	align-self: flex-end;
}

.pic3{
	width: 100%;
    max-width: 600px;
	height: auto;
	padding-bottom: 2%;
	padding-right:2%;
}

/* BOX4--------------------------- */


#box4{
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color:black; 
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box5{
	height: 100vh;
	width: 100%;
	background-color: #000000;
	background-size: cover;
	display: table;
	background-attachment: fixed;
}
#box6{
	height: 100vh;
	width: 100%;
	background-color: #000000;
	background-size: cover;
	display: table;
	background-attachment: fixed;
}